<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Default Title{% endblock %}</title>

  <link rel="stylesheet" href="/style.css">
  <script src="/jquery.min.js"></script>
</head>
<body>
  {% include 'components/header.html.twig' %}
	<main>
		{% block content %}{% endblock %}
	</main>
	{% include 'components/footer.html.twig' %}
  <script src="/bootstrap.js"></script>
</body>
</html>
